apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-xbgpygjp
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-xbgpygjp:95aa46ac042b4af7e9fa27f26140a3b58b9f8fed@sha256:8e4a4871454c5aae8894598a3b95e2c97e17771df17d50600613c81ec568f395
          name: container-image
